name: Build Embedded Rust Project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install ARM toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-arm-none-eabi g++-arm-none-eabi

      - name: Install Rust target
        run: rustup target add thumbv7em-none-eabihf

      - name: Build project
        run: cargo build --verbose --target thumbv7em-none-eabihf
